In [ ]:
import pandas as pd

In [18]:
df=pd.read_csv(r"E:\Python course\10\data.csv")
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,25/12/2022,Metrocity
11,I139207,C191708,Female,29,Books,1,15.15,Credit Card,28/10/2022,Emaar Square Mall
12,I640508,C225330,Female,67,Toys,4,143.36,Debit Card,31/07/2022,Metrocity
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,17/11/2022,Cevahir AVM
14,I336189,C555402,Female,67,Clothing,2,600.16,Credit Card,3/6/2022,Kanyon
15,I688768,C362288,Male,24,Shoes,5,3000.85,Credit Card,7/11/2021,Viaport Outlet
16,I294687,C300786,Male,65,Books,2,30.30,Debit Card,16/01/2021,Metrocity
17,I195744,C330667,Female,42,Food & Beverage,3,15.69,Credit Card,5/1/2022,Zorlu Center
18,I993048,C218149,Female,46,Clothing,2,600.16,Cash,26/07/2021,Metropol AVM
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,7/3/2023,Cevahir AVM
20,I183746,C220180,Male,23,Clothing,1,300.08,Credit Card,15/02/2023,Emaar Square Mall
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,1/5/2021,Cevahir AVM
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,18/06/2022,Cevahir AVM
23,I252275,C313348,Male,44,Technology,5,5250.00,Cash,26/10/2021,Kanyon
24,I174250,C204553,Female,42,Books,5,75.75,Cash,16/12/2022,Metrocity
25,I195396,C285161,Male,51,Toys,2,71.68,Debit Card,16/05/2021,Istinye Park
26,I196704,C289625,Female,25,Cosmetics,5,203.30,Credit Card,20/04/2022,Mall of Istanbul
27,I217053,C192344,Male,50,Shoes,4,2400.68,Cash,10/10/2022,Emaar Square Mall
28,I655874,C447138,Female,65,Shoes,3,1800.51,Cash,23/08/2022,Cevahir AVM
29,I209744,C251229,Male,29,Cosmetics,3,121.98,Credit Card,29/04/2021,Istinye Park
30,I161949,C159164,Female,66,Toys,3,107.52,Debit Card,4/7/2022,Mall of Istanbul
31,I331891,C501658,Male,23,Clothing,1,300.08,Credit Card,21/11/2021,Emaar Square Mall
32,I768348,C176727,Female,32,Shoes,3,1800.51,Credit Card,23/02/2022,Kanyon
33,I109053,C232624,Male,51,Clothing,4,1200.32,Debit Card,11/7/2021,Metrocity
34,I167211,C164092,Female,66,Shoes,4,2400.68,Credit Card,30/08/2022,Zorlu Center
35,I339732,C276887,Male,68,Food & Beverage,1,5.23,Credit Card,4/1/2023,Emaar Square Mall
36,I147062,C245456,Male,43,Clothing,5,1500.40,Credit Card,21/06/2022,Kanyon
37,I187519,C450287,Female,59,Clothing,2,600.16,Credit Card,8/7/2022,Metrocity
38,I106674,C204279,Male,54,Clothing,2,600.16,Cash,27/02/2022,Kanyon
39,I473411,C452806,Male,24,Clothing,1,300.08,Cash,19/12/2022,Metropol AVM
40,I246550,C716788,Female,49,Food & Beverage,3,15.69,Cash,10/9/2021,Zorlu Center
41,I138674,C155059,Male,67,Cosmetics,2,81.32,Credit Card,14/02/2022,Metropol AVM
42,I752693,C306662,Female,48,Cosmetics,3,121.98,Cash,28/04/2022,Metrocity
43,I826174,C607615,Female,40,Shoes,4,2400.68,Cash,20/06/2022,Metrocity
44,I296025,C120164,Female,41,Shoes,3,1800.51,Credit Card,21/04/2022,Kanyon
45,I117291,C134449,Male,46,Books,5,75.75,Credit Card,9/12/2022,Zorlu Center
46,I267193,C317818,Female,19,Cosmetics,3,121.98,Credit Card,12/1/2023,Mall of Istanbul
47,I205366,C241642,Female,43,Clothing,4,1200.32,Debit Card,7/11/2022,Zorlu Center
48,I269690,C126436,Male,18,Cosmetics,3,121.98,Debit Card,7/2/2022,Zorlu Center
49,I304265,C653385,Female,22,Books,5,75.75,Debit Card,13/06/2021,Forum Istanbul
50,I246562,C227070,Female,61,Cosmetics,5,203.30,Cash,23/08/2021,Emaar Square Mall
51,I202367,C317478,Female,41,Books,3,45.45,Cash,24/02/2023,Istinye Park
52,I664787,C237330,Female,53,Cosmetics,2,81.32,Credit Card,12/1/2023,Istinye Park
53,I160777,C626042,Female,43,Technology,4,4200.00,Cash,22/02/2022,Metrocity
54,I137794,C133687,Female,45,Food & Beverage,3,15.69,Debit Card,12/3/2021,Viaport Outlet
55,I148377,C841663,Female,29,Clothing,1,300.08,Cash,2/1/2022,Istinye Park
56,I258195,C213742,Male,43,Toys,2,71.68,Cash,26/11/2021,Kanyon
57,I300213,C962515,Female,19,Clothing,4,1200.32,Credit Card,21/04/2021,Kanyon
58,I263803,C112279,Female,67,Food & Beverage,3,15.69,Cash,23/06/2021,Kanyon

In [27]:
df[:11]

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,25/12/2022,Metrocity

In [29]:
df[48:]

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
48,I269690,C126436,Male,18,Cosmetics,3,121.98,Debit Card,7/2/2022,Zorlu Center
49,I304265,C653385,Female,22,Books,5,75.75,Debit Card,13/06/2021,Forum Istanbul
50,I246562,C227070,Female,61,Cosmetics,5,203.30,Cash,23/08/2021,Emaar Square Mall
51,I202367,C317478,Female,41,Books,3,45.45,Cash,24/02/2023,Istinye Park
52,I664787,C237330,Female,53,Cosmetics,2,81.32,Credit Card,12/1/2023,Istinye Park
53,I160777,C626042,Female,43,Technology,4,4200.00,Cash,22/02/2022,Metrocity
54,I137794,C133687,Female,45,Food & Beverage,3,15.69,Debit Card,12/3/2021,Viaport Outlet
55,I148377,C841663,Female,29,Clothing,1,300.08,Cash,2/1/2022,Istinye Park
56,I258195,C213742,Male,43,Toys,2,71.68,Cash,26/11/2021,Kanyon
57,I300213,C962515,Female,19,Clothing,4,1200.32,Credit Card,21/04/2021,Kanyon
58,I263803,C112279,Female,67,Food & Beverage,3,15.69,Cash,23/06/2021,Kanyon

In [30]:
df.columns.to_list()

['invoice_no',
 'customer_id',
 'gender',
 'age',
 'category',
 'quantity',
 'price',
 'payment_method',
 'invoice_date',
 'shopping_mall']

In [34]:
len(df)

59

In [38]:
df.info()                   #5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      59 non-null     object
 1   customer_id     59 non-null     object
 2   gender          59 non-null     object
 3   age             59 non-null     int64
 4   category        59 non-null     object
 5   quantity        59 non-null     int64
 6   price           59 non-null     float64
 7   payment_method  59 non-null     object
 8   invoice_date    59 non-null     object
 9   shopping_mall   59 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 4.7+ KB

In [39]:
df.describe()

             age   quantity        price
count  59.000000  59.000000    59.000000
mean   43.033898   3.000000   800.978136
std    16.131962   1.339068  1107.037109
min    18.000000   1.000000     5.230000
25%    28.000000   2.000000    75.750000
50%    43.000000   3.000000   300.080000
75%    53.500000   4.000000  1200.320000
max    69.000000   5.000000  5250.000000

In [44]:
df.columns[4]

'category'

In [45]:
df[data.columns[4]]

0            Clothing
1               Shoes
2            Clothing
3               Shoes
4               Books
5            Clothing
6           Cosmetics
7            Clothing
8            Clothing
9            Clothing
10    Food & Beverage
11              Books
12               Toys
13           Clothing
14           Clothing
15              Shoes
16              Books
17    Food & Beverage
18           Clothing
19               Toys
20           Clothing
21    Food & Beverage
22           Clothing
23         Technology
24              Books
25               Toys
26          Cosmetics
27              Shoes
28              Shoes
29          Cosmetics
30               Toys
31           Clothing
32              Shoes
33           Clothing
34              Shoes
35    Food & Beverage
36           Clothing
37           Clothing
38           Clothing
39           Clothing
40    Food & Beverage
41          Cosmetics
42          Cosmetics
43              Shoes
44              Shoes
45              Books
46          Cosmetics
47           Clothing
48          Cosmetics
49              Books
50          Cosmetics
51              Books
52          Cosmetics
53         Technology
54    Food & Beverage
55           Clothing
56               Toys
57           Clothing
58    Food & Beverage
Name: category, dtype: object

In [46]:
df["age"].median()

43.0

In [48]:
df["age"].max()

69

In [49]:
df["age"].min()

18

In [59]:
df[df["quantity"]>3] ["invoice_no"] #9

0     I138884
3     I173702
4     I337046
5     I227836
12    I640508
15    I688768
19    I992454
23    I252275
24    I174250
26    I196704
27    I217053
33    I109053
34    I167211
36    I147062
43    I826174
45    I117291
47    I205366
49    I304265
50    I246562
53    I160777
57    I300213
Name: invoice_no, dtype: object

In [62]:
df.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

In [ ]:
df.grouby[["quantity"],["category"]] #   (11

In [ ]:
import numpy as np

In [74]:
df.pivot(index='category', columns='payment method', aggfunc=np.sum)  #####################

TypeError: DataFrame.pivot() got an unexpected keyword argument 'aggfunc'

In [75]:
pd.crosstab(df.invoice_no, df.shopping_mall)

shopping_mall,Cevahir AVM,Emaar Square Mall,Forum Istanbul,Istinye Park,Kanyon,Mall of Istanbul,Metrocity,Metropol AVM,Viaport Outlet,Zorlu Center
invoice_no,,,,,,,,,,
I106674,0,0,0,0,1,0,0,0,0,0
I109053,0,0,0,0,0,0,1,0,0,0
I117291,0,0,0,0,0,0,0,0,0,1
I121056,0,0,0,1,0,0,0,0,0,0
I127801,0,0,0,0,0,0,1,0,0,0
I137794,0,0,0,0,0,0,0,0,1,0
I138674,0,0,0,0,0,0,0,1,0,0
I138884,0,0,0,0,1,0,0,0,0,0
I139207,0,1,0,0,0,0,0,0,0,0
I147062,0,0,0,0,1,0,0,0,0,0
I148377,0,0,0,1,0,0,0,0,0,0
I160777,0,0,0,0,0,0,1,0,0,0
I161949,0,0,0,0,0,1,0,0,0,0
I167211,0,0,0,0,0,0,0,0,0,1
I173702,0,0,0,0,0,0,0,1,0,0
I174250,0,0,0,0,0,0,1,0,0,0
I179802,1,0,0,0,0,0,0,0,0,0
I183746,0,1,0,0,0,0,0,0,0,0
I187519,0,0,0,0,0,0,1,0,0,0
I195396,0,0,0,1,0,0,0,0,0,0
I195744,0,0,0,0,0,0,0,0,0,1
I196704,0,0,0,0,0,1,0,0,0,0
I202367,0,0,0,1,0,0,0,0,0,0
I205366,0,0,0,0,0,0,0,0,0,1
I209744,0,0,0,1,0,0,0,0,0,0
I217053,0,1,0,0,0,0,0,0,0,0
I227836,0,0,1,0,0,0,0,0,0,0
I246550,0,0,0,0,0,0,0,0,0,1
I246562,0,1,0,0,0,0,0,0,0,0
I252275,0,0,0,0,1,0,0,0,0,0
I258195,0,0,0,0,1,0,0,0,0,0
I263803,0,0,0,0,1,0,0,0,0,0
I267193,0,0,0,0,0,1,0,0,0,0
I269690,0,0,0,0,0,0,0,0,0,1
I293112,0,0,0,0,0,1,0,0,0,0
I293455,0,0,0,0,0,0,1,0,0,0
I294687,0,0,0,0,0,0,1,0,0,0
I296025,0,0,0,0,1,0,0,0,0,0
I300213,0,0,0,0,1,0,0,0,0,0
I304265,0,0,1,0,0,0,0,0,0,0
I306368,0,0,0,0,0,0,1,0,0,0
I317333,0,0,1,0,0,0,0,0,0,0
I326945,0,0,0,0,1,0,0,0,0,0
I331891,0,1,0,0,0,0,0,0,0,0
I336189,0,0,0,0,1,0,0,0,0,0
I337046,0,0,0,0,1,0,0,0,0,0
I339732,0,1,0,0,0,0,0,0,0,0
I412481,1,0,0,0,0,0,0,0,0,0
I473411,0,0,0,0,0,0,0,1,0,0
I640508,0,0,0,0,0,0,1,0,0,0
I655874,1,0,0,0,0,0,0,0,0,0
I664787,0,0,0,1,0,0,0,0,0,0
I688768,0,0,0,0,0,0,0,0,1,0
I752693,0,0,0,0,0,0,1,0,0,0
I768348,0,0,0,0,1,0,0,0,0,0
I823067,1,0,0,0,0,0,0,0,0,0
I826174,0,0,0,0,0,0,1,0,0,0
I992454,1,0,0,0,0,0,0,0,0,0
I993048,0,0,0,0,0,0,0,1,0,0